header {
    display: flex;
    flex-direction: row;
}

/*Logo in header*/
header > a > img {
    height: 80px;
    margin-left: 40px;
    margin-top: 10px;
}

/*navigation bar top of page*/
nav {
    list-style: none;
    display: flex;
    margin-left: auto;
    margin-top: 30px;
    margin-right: 3.5%;
}
  
/*navigation links*/
nav  a {
    margin-left: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    color: black;
    text-decoration: none;
}

/*navigation links on hover*/
a:hover {
    color: rgba(0, 0, 0, 0.6);
}